pre{
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    background-color: #2B2B2B;
    line-break:auto;
    width: 100%;
    word-break: break-all;
    overflow: hidden;
    line-height: 0.1;
}


.adjustpre pre{
    line-height: 1.4 !important ;
}